.buttons {
    margin-top: 50px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons a input {
    width: 350px;
    margin-left: 40px;
    margin-right: 40px;
    background: rgb(50, 122, 54);
    padding: 10px 20px;
    box-shadow: 4px 4px 4px black;
    color: white;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid rgb(50, 122, 54);
}

.buttons a input:hover {
    background-color: rgb(40, 94, 42);
}